@page "/about"
<PageTitle>About AI Resume Scanner</PageTitle>

<div class="container mt-4">
    <h2>About AI Resume Scanner</h2>
    <p>
        The AI Resume Scanner is a smart tool designed to help recruiters and job seekers analyze resumes against specific job descriptions using artificial intelligence.
    </p>
    <h4>How the Process Works</h4>
    <ol class="mb-4">
        <li>
            <strong>JD Mapper</strong>
            This allows the user to verify which profiles matched to the given job description.
        </li>
        <li>
            <strong>Upload Resumes:</strong>
            Allow user to upload one or more resume files (PDF or Word format). Also render the resumes in json format.
        </li>
        <li>
            <strong>Dashboard</strong>
             Under development.....
        </li>
       
    </ol>
    <p>
        This process streamlines candidate screening, making it easier to identify the best matches for your job openings.
    </p>
</div>
