

@if (IsLoading)
{
        <div class="spinner-overlay @OverlayCss">
            <div class="spinner"></div>
        </div>
}

@ChildContent

@code {
    [Parameter] public bool IsLoading { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public bool FullPage { get; set; } = true;

    string OverlayCss => FullPage ? "full" : "partial";
}
