<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://extractanduploadtoaisearchfunc20251025180222.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/ac30c55a-2cf1-44f7-b924-b59b32d5f098/resourcegroups/resumegrp/providers/Microsoft.Web/sites/ExtractAndUploadToAISearchFunc20251025180222</ResourceId>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://extractanduploadtoaisearchfunc20251025180222.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>